html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;

    color: white;
    background: black;
    font-family: sans-serif;
}

#toolbar {
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}