html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    color: white;
    background: black;
    font-family: Lato, sans-serif;
    font-size: 12pt;
}

a {
    color: #47B7FF;
}

a:hover {
    color: white;
}

#toolbar {
    width: 100%;
    margin: 0;

    position: absolute;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);
}

#toolbar #toolbar-caption p {
    margin: 0;
}

#toolbar #toolbar-inputs {
    display: flex;
    justify-content: space-around;
}

#toolbar .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#toolbar .input-wrapper label {
    font-style: italic;
}

#toolbar .button-wrapper {
    display: flex;
    justify-content: center;
}

#toolbar .button-wrapper button {
    width: 100%;
}

#canvas {
    display: block;
}