html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    color: white;
    background: black;
    font-family: Lato, sans-serif;
    font-size: 10pt;
}

a {
    color: white;
}

a:hover {
    color: #BBBBBB;
}

#canvas {
    display: block;
}

#toolbar {
    width: 100%;
    margin: 0;

    position: absolute;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);
}

#toolbar.closed {
    width: unset;
    height: unset;
    border-radius: 8pt 0 0 0;
}

#toolbar.closed #toolbar-caption, #toolbar.closed #button-close, #toolbar.closed #toolbar-inputs, #toolbar.closed #toolbar-buttons {
    display: none;
}

#toolbar.closed #button-open {
    display: block;
}

#toolbar-caption {
    text-align: center;
    margin: 5pt 0;
}

#button-close, #button-open {
    font-weight: bold;
    cursor: pointer;
}

#button-close {
    position: absolute;
    top: 5pt;
    right: 10pt;
}

#button-open {
    display: none;
    padding: 5pt 10pt;
}

#toolbar-inputs, #toolbar-buttons {
    display: flex;
    justify-content: space-around;
}

#toolbar-inputs .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#toolbar-inputs label {
    font-style: italic;
}

#toolbar-inputs label .color {
    display: inline-block;
    margin-left: 2pt;
    width: 5pt;
    height: 5pt;
}

#toolbar-inputs label .color.color-red {
    background: rgb(255, 0, 0);
}

#toolbar-inputs label .color.color-green {
    background: rgb(0, 255, 0);
}

#toolbar-inputs label .color.color-blue {
    background: rgb(0, 0, 255);
}

#toolbar-inputs input {
    margin-bottom: 5pt;
}

#toolbar-inputs input.error {
    background: black;
    color: red;
}

#toolbar-inputs .action {
    height: 40px;
}